

.calculater{
    width: 400px;
}
.display {
    font-size: 2em;
    width: 100%;
    text-align: right;
}
.btn{
    width: 100%;
    height: 50px;
    font-size: 1em;
    border: none;
    background: #dfdfdf;

    cursor: pointer;


}

.btn:hover{
    background: #9e9e9e;
}

.btn-eq{
    background: rgba(100, 97, 172, 0.39);
}

.btn-eq:hover{
    background: rgb(56, 29, 29);
    color: aliceblue;
}